@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body { 
  background-color: rgb(255, 255, 255);
    font-family: "Montserrat", sans-serif;
}

.pdf-controls-container {

  width: 100%;
  background: #323639;
  z-index: 1000;
  display: flex;
  justify-content: center; /* Center the controls container */
}

.pdf-controls {
  display: flex;
  justify-content: center;
  padding: 10px;

  width: 100%; 
  max-width: 1200px; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; 
}
